/**
 * A modern, elegant and minimal combination of Normalize.css and
 * CSS Reset. Compatible with IE10+.
 */
/**
 * 1. Sets box-sizing to border-box by default.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 3. Makes font thinkness to look the same in Firefox and Webkit.
 */
html {
  box-sizing: border-box;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  /* 3 */
  -moz-osx-font-smoothing: grayscale;
  /* 3 */
}

/**
 * Simple reset of element margin and padding
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre, code,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Sets box-sizing to all elements and before / after
 */
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Fixes the issues of main HTML5 tag with even earlier versions of IE.
 * For IE9-, please use HTML5Shiv https://github.com/aFarkas/html5shiv.
 */
main {
  display: block;
}

/**
 * Sets heading font-size to be equal to the content font-size. Encourages
 * the use of different heading elements to define the position of the heading
 * in the document and not the heading look.

 * Opinionated and disabled by default.
 */
/**
 * Applies a bold font weight to strong instead of the default bolder
 */
strong {
  font-weight: bold;
}

/**
 * Removes default border spacing and collapse
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Removes border from images inside links
 * 2. Helps images to properly behave in responsive layouts
 */
img {
  border-style: none;
  /* 1 */
  max-width: 100%;
  /* 2 */
  height: auto;
  /* 2 */
  vertical-align: middle;
  /* 2 */
}

/**
 * 1. Removes text decoration from links.
 * 2. Sets default link color same as the content color.
 * 3. Removes default grey background in IE10.
 * 4. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  text-decoration: none;
  /* 1 */
  color: inherit;
  /* 2 */
  background-color: transparent;
  /* 3 */
  -webkit-text-decoration-skip: objects;
  /* 4 */
}

.o-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 1000px;
}

@media screen and (min-width: 600px) {
  .o-container {
    max-width: 500px;
  }
}
