
// main.scss
$iota-global-breakpoints : (
  xs  : "screen and (min-width: 400px)",
  sm  : "screen and (min-width: 600px)",
  md  : "screen and (min-width: 800px)",
  lg  : "screen and (min-width: 1024px)",
  xl  : "screen and (min-width: 1200px)"
);


// Settings
@import "../node_modules/iotacss-settings-core/settings.core.scss";
// @import "settings/typography";

// Tools
@import "../node_modules/iotacss-tools-core/tools.core.scss";
@import "../node_modules/iotacss-tools-breakpoint/tools.breakpoint.scss";
@import "../node_modules/iotacss-tools-type/tools.type.scss";

// Base
@import "../node_modules/iotacss-base-initialize/base.initialize.scss";
// @import "base/typography";


$iota-objs-container-size-default:(
 null  :  1000px,
  sm  :  500px,
  
 
);


// Objects
 @import "../node_modules/iotacss-objs-container/objects.container.scss";
 //@import "../node_modules/iotacss-objs-grid/objects.grid.scss";
// @import "objects/list";
// @import "../node_modules/iotacss-objs-type/objects.type.scss";
// @import "objects/media";

// Components
// @import "components/header";
// @import "../node_modules/iotacss-components-button/components.button.scss";
// @import "components/link";
// @import "components/sidebar";
// @import "components/page";
// @import "components/ruler";
// @import "components/alert";
// @import "components/article";
// @import "components/mobile-nav";
// @import "components/breadcrumb";
// @import "components/burger-btn";
// @import "components/box";
// @import "components/circle";

// Utilities
// @import "utilities/align";
// @import "utilities/bgcolor";
// @import "../node_modules/iotacss-utils-clearfix/utilities.clearfix.scss";
// @import "utilities/color";
// @import "utilities/display";
// @import "utilities/float";
// @import "utilities/margin";
// @import "utilities/padding";
// @import "utilities/pull";
// @import "utilities/push";
// @import "utilities/size";
// @import "../node_modules/iotacss-utils-text/utilities.text.scss";
// @import "utilities/weight";
